<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>paf</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>jdbc.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/logServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>jdbc.signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>jdbc.viewMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/viewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>jdbc.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/Admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewUser</servlet-name>
    <servlet-class>jdbc.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUser</servlet-name>
    <url-pattern>/viewUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>category</servlet-name>
    <servlet-class>jdbc.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>/addCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vcategory</servlet-name>
    <servlet-class>jdbc.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vcategory</servlet-name>
    <url-pattern>/viewCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vowner</servlet-name>
    <servlet-class>jdbc.ViewUser_Owner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vowner</servlet-name>
    <url-pattern>/viewUser_owner.do</url-pattern>
  </servlet-mapping>
</web-app>